.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  gap: 0.5rem;
}
.wrapper > label {
  align-self: flex-start;
  font-weight: 600;
}
.wrapper > input,
.wrapper > textarea {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.wrapper button {
  width: fit-content;
  align-self: center;
  margin-top: 0.5rem;
}
